@font-face {
  font-family: "GeistMono";
  src: url("./src/fonts/Geist.Mono/GeistMono-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GeistMono";
  src: url("./src/fonts/Geist.Mono/GeistMono-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@page {
  size: A4;
  margin: 0 1.5cm;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "GeistMono", monospace;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  margin-bottom: 0.5rem;
  font-weight: normal;
  text-transform: uppercase;
}

h2 {
  margin-top: 1.5rem;
}

hr + h2 {
  margin-top: 0;
}

p {
  text-align: justify;
}

ul + p {
  margin-top: 0.5rem;
}

a {
  color: inherit;
}

ul {
  padding-left: 1.5rem;
  text-align: justify;
}

hr {
  height: 2px;
  margin-bottom: 1.5rem;
  background-color: black;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  padding: 1.25rem 0;
  color: white;
  background-color: black;
}

.header h1,
.header h2 {
  margin: 0;
  text-transform: none;
  text-align: center;
}

.header h1 {
  font-size: 20px;
}

.header h2 {
  font-size: 14px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 1.5rem;
  font-weight: normal;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
